<div class="container">
    <h2>Severity</h2>
    <button type="button" class="btn btn-success btn-xlg btn-block" value="GREEN" routerLink="/vitals">Green</button>
    <button type="button" class="btn btn-warning btn-xlg btn-block" value="YELLOW" routerLink="/vitals">Yellow</button>
    <button type="button" class="btn btn-danger btn-xlg btn-block" value="RED" routerLink="/vitals">Red</button>
    <button type="button" class="btn btn-secondary btn-xlg btn-block" value="GRAY" routerLink="/vitals">Gray</button>
    <button type="button" class="btn btn-dark btn-xlg btn-block" value="BLACK" routerLink="/vitals">Black</button>
</div>

<button mat-raised-button routerLink="/scanner" color="accent" float="left">Back</button>
<button mat-raised-button routerLink="/vitals" color="primary" float="right">Skip</button>