<div class="container">
    <h2>Severity</h2>
    <button type="button" class="btn btn-success btn-xlg btn-block" value="GREEN">Green</button>
    <button type="button" class="btn btn-warning btn-xlg btn-block" value="YELLOW">Yellow</button>
    <button type="button" class="btn btn-danger btn-xlg btn-block" value="RED">Red</button>
    <button type="button" class="btn btn-secondary btn-xlg btn-block" value="GRAY">Gray</button>
    <button type="button" class="btn btn-dark btn-xlg btn-block" value="BLACK">Black</button>
</div>