<div class="mat-container" style="align-content: center">
    <h2>Patient Vitals</h2>

    <mat-form-field>
        <mat-label for="diastolicBloodPressure">Dialostic BP</mat-label>
        <input matInput id="diastolicBloodPressure">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label for="systolic_bp">Systolic BP</mat-label>
        <input matInput id="systolic_bp">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label for="pulse">Pulse</mat-label>
        <input matInput id="pulse">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label for="respirationRate">Respiration Rate</mat-label>
        <input matInput id="respirationRate">
    </mat-form-field>

</div>