<div class="container" style="align-content: center">
    <h2>Patient Vitals</h2>

    <mat-form-field>
        <label for="diastolicBloodPressure">Dialostic BP</label>
        <input matInput id="diastolicBloodPressure">
    </mat-form-field>
    
    <mat-form-field>
        <label for="systolic_bp">Systolic BP</label>
        <input matInput id="systolic_bp">
    </mat-form-field>
    
    <mat-form-field>
        <label for="pulse">Pulse</label>
        <input matInput id="pulse">
    </mat-form-field>
    
    <mat-form-field>
        <label for="respirationRate">Respiration Rate</label>
        <input matInput id="respirationRate">
    </mat-form-field>

</div>