<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-button-toggle-group>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Navigation
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <nav>
            <mat-button-toggle routerLink="/scanner">QR Scanner</mat-button-toggle><br>
            <mat-button-toggle routerLink="/severity">Severity</mat-button-toggle><br>
            <mat-button-toggle routerLink="/vitals">Vitals</mat-button-toggle><br>
            <mat-button-toggle routerLink="/symptoms">Symptoms</mat-button-toggle><br>
            <mat-button-toggle routerLink="/info">General Info</mat-button-toggle>
          </nav>
        </mat-card-content>
      </mat-card>
    </mat-button-toggle-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="container-fluid" float="left">
        <button mat-raised-button (click)="sidenav.toggle()" color="accent">Navigaton</button>
      </div>
      <div class="container text-center" float="right">
        <h1>
          {{ title }}
        </h1>
      </div>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <div class="container">
        <p class="text-xs-center">© Copyright 2019. All rights reserved.</p>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>