<div class="mat-container">
    <h2>General Info</h2>

    <mat-form-field>
        <mat-label for="firstName">First Name</mat-label>
        <input matInput id="firstName" type="text">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="middleName">Middle Name</mat-label>
        <input matInput id="middleName" type="text">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="lastName">Last Name</mat-label>
        <input matInput id="lastName" type="text">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="dob">Date of Birth</mat-label>
        <input matInput id="dob" type="date">
    </mat-form-field>

    <mat-radio-group aria-label="Gender">
        <mat-radio-button value="1">Male</mat-radio-button><br>
        <mat-radio-button value="2">Female</mat-radio-button>
    </mat-radio-group>
</div>

<button mat-raised-button routerLink="/symptoms" color="accent" float="left">Back</button>
<button mat-raised-button routerLink="/scanner" color="warn" float="right">Submit</button>