.text-center {
  text-align: center;
}

#red {
  background-color: red;
}

#green {
  background-color: #4CAF50;
}

#yellow {
  background-color: yellow;
}

#gray {
  background-color: gray;
}

#black {
  background-color: black;
}

#male {
  background-color: lightblue;
}

#female {
  background-color: pink;
}

.mh-100 {
  height: 100px;
}

.mt-n1 {
  margin-top: 2rem !important;
}

#adult, #infant{
  background-color: lightgray;
}